/*Fonts and Colors only*/
body {
  color: black;
  font-family: 'Open Sans', sans-serif;
  background: rgb(250, 250, 250);
  color: rgb(20, 20, 20);
  margin: 0px;
}

h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: green;
}

a:hover {
  color: black;
}

/*Custom design*/
img {
  width: 100%;
  height: auto;
  margin: 10px;
}

#banner {
  text-align: center;
  padding: 80px;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)), url("https://picsum.photos/1000/300?image=8");
  background-size: cover;
}

#banner p {
  color: rgb(240,240,240);
  font-size: 18px;
  font-weight: lighter;
}
#banner a {
  background-color: #FD1015;
  color: white;
}

#banner a:hover {
  background-color: #ad0c0e;
}

.card {
  text-align: center;
  padding: 20px;
}

.title {
  text-align: center;
  margin: 50px 0px;
}

.content {
  font-size: 16px;
}

.content ul {
  margin: 16px 0;
}


#footer {
  background-color: black;
  padding: 20px 0px;
  margin: 0;
  letter-spacing: 10px;
}

#footer a {
  color: white;
  font-size: 50px;
  transition: 1s;
}

#footer a:hover {
  color: #FD1015;
  font-size: 50px;
}

#footer p {
  color: white;
  text-align: center;
  margin: 5px;
}

#logo {
  margin: 0;
  margin-bottom: 16px;
  width: 80px;
}

